@font-face {
    font-family: 'Kunstler Script';
    src: url('./KUNSTLER.TTF');
}

:root {
    --primary-color: #ff9c00;
    font-size: 1.2rem;
}

h1,
h2 {
    margin: 0;
}

h1:empty::before {
    content: "Titre de la recette";
}

.logo {
    /* background: url('./logo.svg'); */
    height: 100px;
    width: calc(100% - 30px);
    /* background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5px;
}

.logo>span {
    padding-left: 35px;
}

.logo .qr {
    display: none;
}

.backdrop {
    background-image: url('bois.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    background-position: 50% 50%;
    /* filter: blur(2px); */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr 120px;
    grid-template-columns: 35% 65%;
}

*,
.fal {
    font-family: Arial, Helvetica, sans-serif;
}

.fal::before {
    font-family: 'Font Awesome 5 Pro';
}

h1 {
    grid-column: span;
    grid-row: 1;
}

.panel {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 24px;
    margin: 20px;
    box-shadow: 0 0 8px #905800;
    font-size: 1rem;
}

a.panel {
    padding: 20px;
    display: block;
}

.toppings>ul:not(:has(ul)),
.toppings>ul>li>ul {
    list-style: url('./toque.svg');
}

.toppings>ul:has(ul) {
    list-style: none;
    padding-left: 20px;
}

.toppings>ul>li>ul {
    padding-left: 20px;
}

.toppings>ul>li>h3 {
    margin-bottom: 0;
}

.steps>ol,
.steps>p {
    margin-top: 0;
}

#steps {
    height: 100%;
    position: relative;
}

#steps .CodeMirror {
    height: calc(100% - 70px);
    background: #fff3;
    font-size: larger;
}

.steps>#steps:has(+ol:empty)+ol+button {
    display: none;
}

.steps>#steps:has(+ol:not(:empty)) {
    display: none;
}

.steps>p:last-child {
    padding-top: 12px;
}

.steps>ol {
    margin-bottom: 0;
}

.steps>ol>li>p {
    display: inline;
}

.steps>ol>li>ul>li {
    padding-left: 26px;
}

.steps>h1,
.steps>h2,
.steps>h3,
.steps>h4,
.steps>h5,
.steps>h6 {
    margin-left: 20px;
    margin-bottom: 0;
}

.steps>h2:first-child {
    margin-bottom: 20px;
}


.toppings {
    grid-column: 1;
    grid-row: 3;
}

.steps {
    grid-column: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.toppings,
.steps {
    position: relative;
}

.toppings:before,
.steps:before {
    content: "";
    background-image: url('./background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    opacity: .75;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.logo {
    grid-column: 1;
    grid-row: 4;

    /* -webkit-print-color-adjust: exact;
    print-color-adjust: exact; */

}

h1,
h2 {
    text-align: center;
    font-family: 'Kunstler Script';
    font-weight: bold;
}

ol+button,
ul+button {
    text-align: center;
}

ol+button>i,
ul+button>i {
    padding: 10px;
}

ol {
    padding: 0;
    counter-reset: item;
}

ol>li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -1.5em;
    list-style-type: none;
    counter-increment: item;
}

ol>li:before {
    display: inline-block;
    width: 1.5em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.toolbar {
    position: sticky;
    z-index: 2;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    background-color: #ccc;
    grid-column: 1/3;
}

.toolbar i[onclick] {
    cursor: pointer;
}

header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1/1;
}

h1 {
    padding: 5px;
    font-size: 48pt;
    /* line-height: 40pt; */
}

h2 {
    font-size: 32pt;
}

.info {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
}

.info>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.info>div>span,
.mold {
    padding: 10px 10px;
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
}

.info span.fal {
    height: 75px;
    width: 75px;
    font-size: 14pt;
    flex-direction: column;
}

.mold>a>img {
    margin-right: 10px;
}

.info>div>span:before {
    display: block;
    color: var(--primary-color);
    font-size: 16pt;
    margin: 0 5px;
    margin-bottom: 5px;
}

.info>div>span:empty:after {
    font-size: smaller;
    color: #888;
    font-family: Arial, Helvetica, sans-serif;

}

.info>span.count:empty:after {
    content: "Nb parts";
}

.info>span.preptime:empty:after {
    content: "Préparation";
}

.info>span.resttime:empty:after {
    content: "Repos";
}

.info>span.cooktime:empty:after {
    content: "Cuisson";
}

.mold>a>img {
    box-shadow: 0 0 3px #905800;
    border-radius: 50px;
    height: 75px;
    width: 75px;
}

.info>.mold>.name:empty:after {
    content: 'Lien vers le moule';
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
}

.accessories {
    padding: 10px;
    grid-column: 1;
    grid-row: span 2;
}

.accessories>ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accessories>ul>.mold>.name:empty:after {
    content: 'Lien vers l\'accessoire';
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
}

.accessories>ul>.mold {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.accessories>ul>.mold>.name:empty,
.accessories>ul>.mold>.name:focus,
.accessories>ul>.mold>.name:active {
    display: inline;
}

.accessories>ul .steps {
    padding-bottom: 1em;
}

.steps {
    display: flex;
    flex-direction: column;
}

.steps>p {
    margin-top: auto;
}

@media screen and (max-width:768px) {
    .accessories {
        grid-row: 3;
        grid-column: 1;
    }

    .info {
        grid-row: 2;
        grid-column: 1;
        margin-left: 20px;
    }

    .toppings {
        grid-row: 4;
        grid-column: 1;
        margin-left: 20px;
    }

    .logo {
        grid-row: 6;
        grid-column: 1;
    }

    .steps {
        grid-row: 5;
        grid-column: 1;
    }

    header {
        grid-column: 1;
    }

    body {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

@media print {
    :root {
        font-size: 1rem;
    }

    .backdrop {
        background-image: none;
    }

    .toolbar {
        display: none;
    }

    .logo .qr {
        display: inline;
    }

    .logo {
        position: relative;
        grid-column: 1;
        grid-row: 5;
    }

    .logo>a {
        display: none;
    }

    .logo .ad:after {
        content: '';
        background: url('texte.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        display: block;
        height: 50%;
        width: 100%;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;

    }

    @media (min-width:15cm) {
        body {
            grid-template-columns: 9cm auto;
        }

        .info>div>span.fal {
            width: 2cm;
        }
    }

    @media (max-width:14cm) {
        body {
            grid-template-columns: 6.2cm auto;
        }
    }

    .info span.fal {
        height: auto;
    }


    .info>div>span>img {
        box-shadow: none;
        border-radius: 0;
    }

    .panel {
        border: 1px solid black;
        position: relative;
        overflow: hidden;
        box-shadow: none;
        margin: 10px;
    }

    body {
        grid-template-rows: auto;
    }

    .accessories {
        grid-column: 1;
        grid-row: 3;
        margin-left: 0;
    }

    .info {
        grid-column: span 2;
        grid-row: 2;
        margin-left: 0;
        margin-right: 0;
    }

    .toppings {
        border-radius: 24px;
        grid-column: 1;
        grid-row: 4;
        margin-left: 0;
    }

    .steps {
        margin-right: 0;
        grid-column: 2;
        grid-row-start: 3;
        grid-row-end: 6;
    }

    .info>div>span:empty:after {
        content: "-" !important;
    }

    .toppings::before,
    .steps::before {
        content: "";
        position: absolute;
        transform: rotate(-20deg);
        opacity: .25;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url('./logo.svg');
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 75%;

    }

    .accessories>ul+button,
    .steps>ol+button,
    .toppings>ul+button {
        display: none;
    }

    .mold,
    .steps ol,
    .toppings ul {
        font-size: 1rem;
    }

    .toppings>ul:not(:has(ul)),
    .toppings>ul>li>ul {
        list-style: url('./toque.svg');
        font-size: 1rem;
    }


    .accessories .mold a {
        display: none;
    }

    .accessories ul {
        flex-direction: column;
    }

    .accessories>ul>.mold {
        padding: 0;
    }

    header {
        grid-column: span 2;
    }
}

.toppings li>span {
    margin-right: 5px;
}