---
permalink: "/"
title: Anne et ses Délices
layout: generic.liquid
---
<div style="padding:10px">
  <h3>Bienvenue les Délicieuses et les Délicieux !</h3>
  <p style="font-size:larger">
    Vous trouverez sur cette page des recettes réalisées avec les produits Guy Demarle.<br/>
    N'hésitez pas à me contacter si vous avez des questions.<br/>
    Régalez-vous 😋
  </p>
</div>