---
permalink: "moules/{% if pagination.pageNumber > 0 %}page-{{ (pagination.pageNumber + 1) }}/{% endif %}index.html"
title: "Anne et ses moules Ohra®"
layout: generic.liquid
mainContentTitle: Moules
pagination:
    data: moules
    size: 50
    reverse: true
tags: 
  - menu
---
<ul>
  {%- for item in moules %}
    <li class="mold">
      
      <a href="/moules/{{item.name | slugify}}">
        <img src="{{ item.picture }}" height="64px" />
        <span class="name">{{ item.name }}</span>
      </a>
    </li>
  {% endfor -%}
</ul>