---
permalink: "moules/"
title: "Anne et ses moules OHRA®"
layout: generic.liquid
mainContentTitle: Moules
pagination:
    data: moules
    size: 4
    reverse: true
tags: 
  - menu
---
<ul>
  {%- for item in collections.moules %}
    <li class="mold">
      <a href="/moules/{{item.data.recette.mold.name | slugify}}">
        <img src="{{ item.data.recette.mold.picture }}" height="64px" />
        <span class="name">{{ item.data.recette.mold.name }}</span>
      </a>
    </li>
  {% endfor -%}
</ul>