---
layout: generic.liquid
pagination:
    data: moules
    size: 1
    alias: moule
    reverse: true
permalink: "moules/{{ moule.name | slugify }}/"
eleventyComputed:
    title: "{{moule.name}} - Anne et ses delices"
---
<ul>
  {% for item in collections.recettes %}
    {% if item.data.recette.mold.name == moule.name and item.data.recette.private!=true %}
      <li>
        <a href="{{item.page.url}}">{{ item.data.recette.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>