---
permalink: "moules/"
title: "Anne et ses moules"
layout: generic.liquid
mainContentTitle: Moules
pagination:
    data: moules
    size: 4
    reverse: true
tags: 
  - menu
---
<ul>
  {%- for item in collections.moules %}
    <li>
      <a href="/moules/{{item.data.recette.mold.name | slugify}}">
        <img src="{{ item.data.recette.mold.picture }}" height="64px" />
        {{ item.data.recette.mold.name }}</a>
    </li>
  {% endfor -%}
</ul>