---
eleventyImport:
    collections: ["moules"]
permalink: "moules/"
title: Anne et ses moules
tags:
  - menu
---
<!DOCTYPE HTML>
<html lang="fr-fr">

  <head>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link href="../assets/fa/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">

  </head>

  <body>
    <div class="backdrop"></div>
    <header>
      <h1>Anne et ses moules</h1>
    </header>
    <div class="topings">
      <h2>Menu</h2>
      <ul></ul>
    </div>
    <div class="steps">
      <h2>Recettes</h2>
      <ull>
        {%- for item in collections.moules %}
          <li>
            <a href="..{{item.page.url}}">{{ item.data.recette.title }}</a>
          </li>
        {% endfor -%}
      </ul>
      <span style="position: absolute; bottom:5px; padding-left:24px">
        <a href="https://www.guydemarle.com/profil/annep_a143-44563">Anne Penin</a>, conseillère Guy Demarle</span>
    </div>
    <div class="logo">
      <img
        class="qr"
        src="../assets/qr_code.svg"
        style="height:100%" />
      <span class="ad">Retrouvez-moi sur facebook
      </span>
      <a href="https://www.facebook.com/profile.php?id=100090744024852">
        <img src="../assets/logo.svg" style="height:100%" />
      </a>
    </div>
  </body>

</html>