---
permalink: "/tuto/"
title: Anne et ses Délices
layout: index.liquid
---
<header>
<h1>
Anne et ses conseils d'utilisation
</h1>
</header>
<style>
    .panel
    {
        padding: 12px;
        grid-column: 1 / 3;
        /* margin-top: 20px; */
    }

    .underline{
        text-decoration: underline;
    }

    h2{
        margin-top: 15px;
        margin-bottom: 8px;
        text-align:left;
        font-family: Arial, Helvetica, sans serif;
        font-size: 14pt;
        font-weight: normal;
    }

    p{
        margin: 0;
    }
</style>
<div class="panel">
    <p>
        Réussissez toutes vos recettes avec OHRA® ! Découvrez les conseils pour une cuisson parfaite, 
        un démoulage sans effort et un entretien optimal de vos moules en silicone platinium. 
    </p>
    <br />
    <p>
        <i>Le silicone <b>Platinium</b> : l’excellence culinaire. Sain, inusable et sans transfert de particules.</i><br/>
        C’est un silicone haut de gamme intégrant un métal précieux (platine), 
        garantissant ainsi une sécurité alimentaire maximale et une <b>qualité professionnelle</b> à chaque cuisson. 
    </p>

    <h2>​<span style="font-size: 18pt">🚀</span> 1. <span class="underline">1ère utilisation</span></h2>
    <ul>
    <li><b>​Lavage</b> : Eau chaude savonneuse + éponge douce.</li>
    <li><b>​Séchage</b> : 30 min au four à vide à <b>220°C</b> sur plaque perforée. </li>
    </ul>

    <h2><span style="font-size: 18pt">🌡</span> 2. <span class="underline">Cuisson & Températures</span></h2>
    <ul>
    <li><b>​Amplitude</b> : De -40°C à +260°C. </li>
    <li><b>Préchauffage</b> : Préchauffer votre four avant d'enfourner votre moule.</li>
    <li><b>Cuisson</b> : A adapter en fonction du four; Cuisson plus rapide dans un four à chaleur tournante que dans un four à chaleur statique.</li>
    <li><b>​Support</b> : Toujours utiliser une <b>plaque aluminium perforée</b> pour une chaleur homogène.</li>
    <li><b>​Micro-ondes</b> : 100% compatible. Cuire par tranche de 30 secondes.</li>
    </ul>

    <h2><span style="font-size: 18pt">⏱</span> 3. <span class="underline">Le démoulage parfait</span></h2>
    <ul>
    <li><b>​Plat chaud</b> : Attendre <b>5 minutes</b> (la vapeur aide au décollage).</li>
    <li><b>​Plat froid / Entremets</b> : Attendre le <b>refroidissement complet</b>.</li>
    </ul>
    <h2><span style="font-size: 18pt">🧼</span> 4. <span class="underline">Entretien & Astuces</span></h2>
    <ul>
    <li>​<b>Nettoyage</b> : A la main avec une eau très chaude et du liquide vaisselle au parfum neutre.</li>
    <li>​<b>Le petit plus</b> : Après le rincage, laisser sécher le moule à l'air libre ou effectuer un passage de 2-3 minutes au four à 100°C.</li>
    <li><b>​❄️ Astuce</b> : Pour enlever les résidus et le gras, remplir d'eau et congeler. Le bloc de glace emprisonne et retire tous les résidus ! </li>
    </ul>

    <h2><span style="font-size: 18pt">📦</span> 5. <span class="underline">Stockage</span></h2>
    <ul>
    <li><b>​Ne pas les rouler</b>.</li>
    <li>Eviter les <b>plats lourds</b> dessus.</li>
    </ul>
    
    <h2><span style="font-size: 18pt">⚠️</span> 6. <span class="underline">À ne jamais faire</span></h2>
    <ul>
    <li><b>​Pas de couteaux</b> ni d'objets tranchants. </li>
    <li><b>​Pas d'éponge abrasive</b> (côté vert). </li>
    <li><b>​Pas de flamme directe</b> ou de mode <b>grill</b>.</li>
    <li><b>​Pas de lèche-frites</b> ou de plaque pleine pendant la cuisson.</li>
    <li><b>​Pas de papier aluminium</b> pour couvrir le moule pendant la cuisson.</li>
    </ul>
</div>
